<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>BB</title>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.png">
  <script src="https://use.fontawesome.com/d7ae17c793.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div>
      <div class="navbar-header">
        <p class="navbar-brand">B L O G B O W E R</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="compose"><a href="/compose">CREATE</a></li>
          <li id="login"><a class="btn btn-primary" style="color:white" href="/users/login">LOGIN</a></li>
        </ul>
    </div>
  </nav>
