<div id="sidebar-wrapper-rt">
    <ul class="sidebar-nav-rt">
        <% if (name!=null){%>
            <li class="sidebar-nav-rt"><%=name%></li>
            <li class="sidebar-nav-rt">User Picture </li>
            <li class="sidebar-nav-rt"><%=penName%></li>
            <li class="sidebar-nav-rt"><%=email%></li>
            <li class="sidebar-nav-rt">User AGE</li>
            <li class="sidebar-nav-rt pub-btn"><a href="/users/<%=penName%>/editProfile"> EDIT Profile</a> </li>
            <li class="sidebar-nav-rt pub-btn"><a href="/users/logout"> sign out</a> </li>
            <li class="sidebar-nav-rt version"> v 1.0.3</li>
        <%} else {%>
                <li class="sidebar-nav-rt pub-btn"><a href="/users/login"> sign in</a> </li>
                <li class="sidebar-nav-rt version"> v 1.0.3</li>
        <%  } %>
        
    </ul>

</div>