<head>
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="icon" href="/images/favicon.png">
</head>

<body>

    <div class="prof">
<div class="wrap">
<h2><%= heading %></h2>

<p><%= message %></p>
</div>
</div>

</body>
<%- include("partials/footer1"); -%></body>