<%- include("partials/header1"); -%>
    <link rel="stylesheet" href="/css/edit.css">
</head>

<body>

    <div class="prof">
<div class="wrap">
<h2>Enter the email id linked with your account.</h2>

<form action="/forgotPassword" method="post">
    <input type="email" name="email" placeholder="Email" required/><br>
    <p><%=message%></p>
    <button>Submit</button>
</form>
</div>
</div>

</body>
<%- include("partials/footer1"); -%>