<head>
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="icon" href="/images/favicon.png">
</head>

<body>

    <div class="prof">
<div class="wrap">
<h2>Enter new password.</h2>

<form action="/resetPassword/<%=token%>" method="post">
    <input type="text" name="password" placeholder="Password" required/><br>
    <p><%=message%></p>
    <button>Submit</button>
</form>
</div>
</div>

</body>
<%- include("partials/footer1"); -%></body>