body{
	background: #eae7dc;
}
.logey {
	background: #eae7dc;;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	margin: -20px 0 50px;
}


#sidebar-wrapper{
    z-index:1;
    position: fixed;
    width:0;
    height:1080px;
    overflow-y:hidden;
    background: linear-gradient(to left, #af423b,#9b3a33);
    opacity: 0.9;
    transition: all 0.2s ease-out;
}

/* Main Content*/
#page-content-wrapper{
    width:100%;
    position: absolute;
    padding: 50px;
    transition: all 0.2s ease-out;
}


/* Change Width of the sidebar*/

#wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
    transition: all 0.2s ease-out;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
    transition: all 0.2s ease-in;
}

/*Sidebar Style*/

.pub-btn{
    background:#da7b93;
    border:4px solid #da7b93;
    border-radius:20px;
    padding:10px 10px;
    margin: 10px 7.5%;
}

.sidebar-nav{
    padding:10px 5px;
    list-style:none;
}

.sidebar-nav li{
    text-indent:20px;
    line-height:40px;
    color:#ddd;
}

.sidebar-nav li a{
    display: block;
    text-decoration:none;
    color:#ddd;
}

/* .sidebar-nav li a:hover{
    background:#424242;
    transition: all 0.6s ease-out;
} */

/* .sidebar-nav li .btn:hover{
    background-color: #ff0040;;

} */



/* Right Sidebar */

#sidebar-wrapper-rt{
    display:flex;
    flex-direction: row;
    flex:right;
    right:0;
    position: fixed;
    z-index:1;
    width:0;
    height:1080px;
    overflow-y:hidden;
    background: linear-gradient(to left, #af423b,#9b3a33);
    opacity: 0.9;
    transition: all 0.2s ease-out;
}

/* Change Width of the sidebar*/

#wrapper.menuDisplayedrt #sidebar-wrapper-rt{
    right:0;
    width:250px;
    transition: all 0.2s ease-out;
}

#wrapper.menuDisplayedrt #page-content-wrapper{
    padding-right:250px;
    transition: all 0.2s ease-in;
}

/* Right Sidebar Design*/
/*Sidebar Style*/

.sidebar-nav-rt{
    padding:10px 10px 10px 5px;
    list-style:none;
}

.sidebar-nav-rt li{
    text-indent:20px;
    line-height:40px;
    color:#ddd;
}

.sidebar-nav-rt li a{
    display: block;
    text-decoration:none;
    color:#ddd;
}

.version {
    position: fixed;
    bottom: 5px;
}

/* .sidebar-nav-rt li a:hover{
    background:#757474;
    transition: all 0.6s ease-out;
} */

/* .sidebar-nav-rt li .btn:hover{
    background-color: #ff0040;;

} */


/* Blogs Design */

.blogss{
    padding: 60px;
    background: #eae7dc;
}

.blog1{
    padding: 30px 20px 20px 30px;
    border-radius: 20px;
    box-shadow: 13px 13px 20px#d6d3ca,
    -13px -13px 20px #f7f4ec;
}

.blog1 p, .blog1 a {
    margin-left: 1%;
}

.blog1 h1 {
    display: inline-block;
}

#blogger {
    text-decoration: none;
    font-size: medium;
}

.date {
    font-size: small;
    position: absolute;
    right: 7%;
}

#title-space {
    width: 25%;
}

#blog-head {
    margin-left: 0.2%;
}

#blog-title {
    margin-left: 0.8%;
    text-decoration: none;
    color: #424242;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#blog-head :hover {
    color: grey;
}

.blogg1{
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: #424242;
    font-size: medium;
}

.blogss h1{
    /* font-weight: 600; */
    letter-spacing: 10px;
    padding:10px;
}

#postbg {
    background-color: #eae7dc;
    border-color: #eae7dc;
    resize: none;
}

#menu-toggle{
    border:none;
    color:#2f4454;
    background-color: #eae7dc;
}

/* User About Section */
.user-about{
    background: linear-gradient(to left, #6b5251,#d89692);
    margin: 40px 25%;
    padding:20px;
    border-radius: 20px;
    color: #eae7dc;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
    display: flex;
}

.user-about h3 {
    text-align: left;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    padding-right: 40%;
    font-weight: 300;
}

#blogger {
    text-align: left;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    padding-right: 40%;
    font-weight: 300;
    font-size: 30px;
}

#postTitle {
    font-family: 'Roboto', sans-serif;
}

.user-about h5{
    text-align: left;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 17px;
}

#profileDp {
    height: 100%;
}

.profileDetails {
    padding-right: 200px;
}

.user-about img {
    width: 70%;
    border-radius: 8%;
}


/*Button*/

.eded{
    background: linear-gradient(to left, #8591ca,#d89692);
    color:black;
    margin-right: 100px;
    margin-bottom:20px;
    padding: 5px 20px;
    min-width:200px;
    border:2px solid #8591ca;
    border-radius: 20px;
}

a.eded:hover{
    background-color: #8591ca !important;
}

.sidepic {
    width: 30%;
    margin: 10px 25%;
    border-radius: 50%;
}